* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.text {
    color: #333;
    margin-top: 35px;
    text-align: left;
    margin-left: 80px;
    font-weight: 300;
    font-size: 26px;
}

/* Brochure Section Styles */
.brochure1 {
    margin: 40px 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.poolimg img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    animation: fadeInUp 1.5s ease-in-out;
    width: 900px;
    height: 500px;
    object-fit: cover;
}

.pooldes {
    background-color: #ffffff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
    width: 800px;
    height: auto;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Outfit', sans-serif;
}

.pooldes h2 {
    margin-bottom: 20px;
    font-size: 1.8em;
    color: #333;
}

.pooldes h3 {
    font-weight: 600;
    text-align: center;
    margin-bottom: 15px;
    font-size: 1.6em;
    color: #666;
}

.pooldes p {
    font-weight: 400;
    font-size: 1em;
    color: #555;
    margin-bottom: 15px;
    line-height: 1.5;
}

/* Responsive Styles for Smaller Screens */
@media (max-width: 768px) {
    .text {
        font-size: 16px;
        margin-left: 20px;
    }

    .brochure1 {
        flex-direction: column;
        margin: 20px;
        gap: 10px;
    }

    .poolimg img {
        width: 100%;
        height: auto;
    }

    .pooldes {
        width: 100%;
        padding: 15px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    }

    .pooldes h2 {
        font-size: 1em;
    }

    .pooldes h3 {
        font-size: 1em;
    }

    .pooldes p {
        font-size: 0.9em;
    }
}

@media (max-width: 480px) {
    .text {
        font-size: 14px;
        margin-left: 15px;
    }

    .brochure1 {
        margin: 10px;
    }

    .pooldes {
        padding: 10px;
    }

    .pooldes h2 {
        font-size: 1em;
    }

    .pooldes h3 {
        font-size: 1em;
    }

    .pooldes p {
        font-size: 0.8em;
    }
}

/* Animation Keyframes */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}